# vim artifacts
*.swp
.vim

# VM artifacts
*.qcow2

# build artifacts
result

# devenv artifacts
.direnv
.devenv
# pre-commit hooks are managed by devenv (this is just a symlink)
.pre-commit-config.yaml

tmp
