@import "./catppuccin.css";

* {
    border: none;
    font-family: Hack Nerd Font, sans-serif;
    font-size: 1em;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.95;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray,
#custom-notification {
    background-color: @crust;
    padding: 0 10px;
    margin: 3px;
    /* border: 3px solid rgba(0, 0, 0, 0); */
    border-radius: 90px;
    background-clip: padding-box;
}

#workspaces button {
    padding: 0 5px;
    min-width: 20px;
    color: @blue;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 1)
}

#workspaces button.focused {
    color: @yellow;
}

#workspaces button.urgent {
    color: @red;
}

#clock {
    color: @sky;
}

#idle_inhibitor {
    color: @sky;
}

#idle_inhibitor.activated {
    background-color: @overlay0;
}

#temperature {
    color: @red;
}

#temperature.critical {
    background-color: @overlay0;
}

#cpu {
    color: @peach;
}

#memory {
    color: @sky;
}

#battery {
    color: @green;
}

#battery.charging,
#battery.plugged {
    background-color: @overlay0;
}

@keyframes blink {
    to {
        background-color: @overlay0;
    }
}

#battery.critical:not(.charging) {
    background-color: @overlay0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    color: @peach;
}

#backlight {
    color: @blue;
}

#network {
    color: @mauve;
}

#network.disconnected {
    color: @rosewater;
}

#custom\/notification {
    color: @red;
}
